<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>startyear</key>
		<string>2012</string>
		<key>term</key>
		<string>1</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2012</string>
		<key>term</key>
		<string>2</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2013</string>
		<key>term</key>
		<string>1</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2013</string>
		<key>term</key>
		<string>2</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2014</string>
		<key>term</key>
		<string>1</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2014</string>
		<key>term</key>
		<string>2</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2015</string>
		<key>term</key>
		<string>1</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2015</string>
		<key>term</key>
		<string>2</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2016</string>
		<key>term</key>
		<string>1</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2016</string>
		<key>term</key>
		<string>2</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2017</string>
		<key>term</key>
		<string>1</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2017</string>
		<key>term</key>
		<string>2</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2018</string>
		<key>term</key>
		<string>1</string>
	</dict>
	<dict>
		<key>startyear</key>
		<string>2018</string>
		<key>term</key>
		<string>2</string>
	</dict>
</array>
</plist>
